<template>
  <div class="sign-in">
    <img
      src="./../../public/vuetify_banner.jpg"
      alt="home_screen_background"
    >
    <v-card
      width="400px"
      elevation="9"
    >
      <!-- progress -->
      <template slot="progress">
        <v-progress-linear
          color="deep-purple"
          height="10"
          indeterminate
        />
      </template>

      <v-card-title class="text-center">
        Sign In
      </v-card-title>
      <v-card-text>
        <v-form
          ref="form"
          v-model="valid"
          @submit.prevent="signIn"
        >
          <v-text-field
            class="mb-2"
            v-model="user.username"
            :rules="[rules.required]"
            label="Username"
          />
          <v-text-field
            class="mb-2"
            v-model="user.password"
            :type="showPassword ? 'text' : 'password'"
            :rules="[rules.required]"
            label="Password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="toggleShowPassword"
          />
          <v-col class="mt-4">
            <v-row>
              <v-spacer />
              <v-btn
                color="primary"
                :loading="processingSignInRequest"
                type="submit"
              >
                Sign In
              </v-btn>
            </v-row>
          </v-col>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";
import { signIn as makeSignInRequest } from "../services/auth";

export default {
  data() {
    return {
      valid: false,
      processingSignInRequest: false,
      user: {
        username: "",
        password: "",
      },
      showPassword: false,
      rules: {
        required: (value) => !!value || "Required",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail";
        },
      },
    };
  },
  methods: {
    ...mapMutations(["setAccessToken"]),
    ...mapActions(["resetAuthData", "setRefreshTokenTimer"]),
    toggleShowPassword() {
      this.showPassword = !this.showPassword;
    },
    validate() {
      this.$refs.form.validate();
    },
    clearForm() {
      this.$refs.form.reset();
    },
    async signIn() {
      this.validate();
      if (!this.valid) return;

      this.resetAuthData();
      var creds = Object.assign({}, this.user);
      this.processingSignInRequest = true;
      const res = await makeSignInRequest(
        creds
      );
      if (res.requestSuccess) {
        this.setAccessToken(res.payload.accessToken);
        this.setRefreshTokenTimer();
        this.processingSignInRequest = false;
        this.$router.push({ name: "Chat" });
      }
      else {
        this.processingSignInRequest = false;
        console.log("Bad SignIn request"); // TODO change failure indicator to something more visual
      }
    },
  },
};
</script>

<style>
.sign-in {
  display: flex;
  justify-content: center;
  height: 100%;
}

.sign-in > .v-card {
  height: fit-content;
  align-self: center;
  margin: 0;
}

.sign-in > img {
  position: absolute
}
</style>