<template>
  <article
    class="chat-message"
    :class="{ sent: sent, received: !sent }"
  >
    <div class="message-bubble">
      <div class="sender-name">
        {{ sender }}
      </div>
      <div class="message-body">
        <vue-markdown
          :html="false"
        >
          {{ text }}
        </vue-markdown>
      </div>
      <div class="time text-right">
        {{ getFormattedTime() }}
        <v-icon
          v-if="delivered === false"
          class="message-status-icon"
          small
        >
          mdi-send-clock
        </v-icon>
        <v-icon
          v-if="delivered === true"
          class="message-status-icon"
          small
        >
          mdi-check
        </v-icon>
      </div>
    </div>
  </article>
</template>

<script>
import * as helpers from "../utils/helpers.js";
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  props: {
    sender: {
      type: String,
      default: "",
    },
    text: {
      type: String,
      default: "",
    },
    timeSent: {
      type: String,
      default: "",
    },
    sent: Boolean,
    delivered: {
      type: Boolean,
      default: null,
    }
  },
  methods: {
    getFormattedTime() {
      let time = helpers.formatMessageTime(this.timeSent);
      return time;
    }
  }
};
</script>

<style>
.chat-message {
  display: flex;
  flex-direction: row;
}

.chat-message .sender-name {
  font-weight: 600;
}

.chat-message > .message-bubble {
  margin: 0.5rem 0;
  border-radius: 1rem;
  width: fit-content;
  min-width: 200px;
  max-width: min(650px, 60%);
  padding: 10px 15px;
  background-color: rgba(240, 240, 240, 1);
  word-break: break-all;
}

.chat-message.sent > .message-bubble {
  background-color: rgb(235, 220, 250);
}

.chat-message.received {
  justify-content: flex-start;
}

.chat-message.received > .message-bubble {
  border-bottom-left-radius: 0;
}

.chat-message.sent {
  justify-content: flex-end;
}

.chat-message.sent > .message-bubble { 
  border-bottom-right-radius: 0;
}

.chat-message .time {
  font-style: italic;
}

.chat-message .message-status-icon {
  position: relative;
  left: 5px;
  margin-left: -5px;
}

@media screen and (min-width: 1024px) {
  .chat-message.sent {
    justify-content: flex-start;
  }

  .chat-message.sent > .message-bubble{
    margin-left: 2rem;
  }
}
</style>
