<template>
  <v-col class="chat-room d-flex flex-column">
    <v-toolbar class="flex-grow-0">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: onTooltip, attrs }">
          <v-badge
            class="new-message-badge"
            bordered
            overlap
            :value="unreadMessages > 0"
            :content="unreadMessages"
            v-show="overlayLeftDrawer"
            offset-x="22"
            offset-y="22"
          >
            <v-app-bar-nav-icon
              v-bind="attrs"
              v-on="{ ...onTooltip }"
              @click="toggleLeftDrawer"
            />
          </v-badge>
        </template>
        <span>Conversations</span>
      </v-tooltip>
      <v-toolbar-title
        v-if="!!chatRoom"
        class="chatroom-title grey--text text--darken-3"
        @click.stop="showGroupDetails = !showGroupDetails"
      >
        {{ chatRoom.name }}
      </v-toolbar-title>
      <v-spacer />
      <v-tooltip
        bottom
        v-if="!!chatRoom"
      >
        <template v-slot:activator="{ on: onTooltip, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="{ ...onTooltip }"
            @click="toggleRightDrawer"
          >
            <v-icon>mdi-account-group</v-icon>
          </v-btn>
        </template>
        <span>Active users</span>
      </v-tooltip>
    </v-toolbar>
    <div
      v-if="!!chatRoom"
      class="chat-room-content d-flex flex-grow-1"
    >
      <div class="d-flex flex-column flex-grow-1">
        <div class="message-container-wrapper d-flex flex-column flex-grow-1">
          <message-container 
            v-if="messages.length > 0" 
          />
          <div
            v-if="!(messages.length > 0)"
            class="no-messages-notification-container"
          >
            <v-card
              elevation="2"
              color="#F5F5F5"
            >
              <v-card-text>No messages to display</v-card-text>
            </v-card>
          </div>
        </div>

        <div class="message-input-container px-4">
          <v-textarea
            id="message-input"
            class="ma-2"
            v-model="message"
            auto-grow
            clearable
            hide-details
            no-resize
            placeholder="Enter your message..."
            rounded
            rows="1"
            outlined
            filled
            append-outer-icon="mdi-send"
            @click:append-outer="sendMessage"
            @keyup.ctrl.enter="sendMessage"
          />
        </div>

        <v-overlay
          :value="isRefreshingRoom"
          absolute
          z-index="1"
        >
          <v-progress-circular
            indeterminate
            size="64"
          />
        </v-overlay>
      </div>
      <v-navigation-drawer
        v-model="drawerRight"
        class="chat-room-members-panel"
        right
        :absolute="overlayRightDrawer"
        :width="drawerRight ? 250 : 0"
      >
        <v-list>
          <v-list-item
            v-for="member in members"
            :key="member.id"
            link
            class="chatroom-member"
            :class="{ active: member.isActive }"
          >
            <v-list-item-content>
              <v-list-item-title>
                <span>
                  {{ member.username }}
                </span>
                <div class="activity-indicator" />
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-overlay
          :value="isRefreshingRoom"
          absolute
          z-index="1"
        >
          <v-progress-circular
            indeterminate
            size="64"
          />
        </v-overlay>
      </v-navigation-drawer>
    </div>

    <chat-group-details-dialog
      v-if="!!chatRoom"
      v-model="showGroupDetails"
      :group="chatRoom"
      @leave-group="leaveGroup"
    />
    
    <div
      v-if="!chatRoom"
      class="no-conversation-notification-container"
    >
      <v-card
        elevation="2"
        color="#F5F5F5"
      >
        <v-card-text>Select a conversation</v-card-text>
      </v-card>
    </div>
  </v-col>
</template>

<script>
import {
  connectToChatGroup,
  disconnectFromChatGroup,
} from "../services/chatApi.js";
import {
  subscribeToUserActivityChanged,
  unsubscribeFromUserActivityChanged,
} from "../services/signalrService.js";
import MessageContainer from "./MessageContainer.vue";
import ChatGroupDetailsDialog from "./ChatGroupDetailsDialog.vue";
import { MessageData } from "./../models/MessageData.js";
import * as Helpers from "./../utils/helpers.js";

export default {
  components: { MessageContainer, ChatGroupDetailsDialog },
  data() {
    return {
      drawerRight: !this.$vuetify.breakpoint.mdAndDown,
      message: "",
      members: [],
      showGroupDetails: false,
      isRefreshingRoom: false,
    };
  },
  props: {
    overlayLeftDrawer: Boolean,
    chatRoom: {
      type: Object,
      default: null,
    },
    newContact: Boolean,
  },
  computed: {
    overlayRightDrawer() {
      return this.$vuetify.breakpoint.mdAndDown;
    },
    unreadMessages() {
      let totalUnreadMessages = this.$store.getters.conversations.reduce((acc, conv) => {
        return acc + conv.newMessages;
      }, 0);
      Helpers.devlog("Unread messages: " + totalUnreadMessages);
      return totalUnreadMessages;
    },
    messages() {
      return this.$store.getters.messages;
    },
  },
  watch: {
    chatRoom: async function (newValue, oldValue) {
      if (oldValue == newValue) return;
      if (oldValue != null && !oldValue.isUser) {
        await disconnectFromChatGroup(oldValue.id);
      }
      this.refreshRoom();
    },
  },
  methods: {
    toggleLeftDrawer() {
      this.$emit("toggle-left-drawer");
    },
    toggleRightDrawer() {
      this.drawerRight = !this.drawerRight;
    },
    sendMessage() {
      if (this.message == null || this.message.length === 0) return;
      
      let messageData = null;
      if (this.newContact) {
        messageData = MessageData.buildMessageToPrivateChatNew(this.chatRoom.id, this.message);
      } else {
        let isPrivateChat = !!this.chatRoom.otherUserId;
        messageData = isPrivateChat 
          ? MessageData.buildMessageToPrivateChat(this.chatRoom.id, this.chatRoom.otherUserId, this.message)
          : MessageData.buildMessageToGroup(this.chatRoom.id, this.message);
      }
      this.$emit("send-message", messageData);
      this.message = null;
    },
    async refreshRoom() {
      this.isRefreshingRoom = true;

      this.$store.commit("clearMessages");
      if (this.newContact || this.chatRoom == null) {
        this.isRefreshingRoom = false;
        return;
      }
        

      let res = await connectToChatGroup(this.chatRoom.id);
      if (res.requestSuccess) {
        this.$store.commit("setMessageCollection", res.payload.latestMessages);
        this.$store.commit("clearUnreadMessages", this.chatRoom.id);
        this.members = res.payload.members;
      } else {
        console.log(res.error);
      }
      this.isRefreshingRoom = false;
    },
    leaveGroup() {
      this.$emit("leave-conversation", this.chatRoom.id);
    }
  },
  mounted() {
    this.refreshRoom();
    subscribeToUserActivityChanged(this, (userId, newStatus) => {
      this.members.filter(m => m.id === userId).forEach(m => m.isActive = newStatus);
    });
  },
  async beforeDestroy() {
    this.$store.commit("clearMessages");
    if (this.chatRoom != null && !this.chatRoom.isUser) {
      await disconnectFromChatGroup(this.chatRoom.id);
    }
    unsubscribeFromUserActivityChanged(this);
  }
};
</script>

<style>
.chat-room header {
  z-index: 1;
}

.message-container-wrapper {
  height: 1px;
}

.message-container {
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
}

.chat-room-members-panel.v-navigation-drawer--open {
  min-width: 250px;
  position: relative;
}

.chat-room-content {
  height: 1px; /* required to make overflow in child nodes work */
}

.chat-room-content > div:first-child {
  position: relative;
}

.message-input-container .v-input__icon--append-outer button {
  font-size: 30px;
  opacity: 0.7;
}

.message-input-container .v-input__icon--append-outer button:hover {
  opacity: 1;
}

.chat-room-members-panel .chatroom-member .activity-indicator {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-left: 2px;
  border-radius: 50%;
  background-color: #6c757d;
}

.chat-room-members-panel .chatroom-member.active .activity-indicator {
  background-color: #28a745;
}

.chat-room .no-messages-notification-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  animation: fadeInTransition 500ms ease-in;
}

.chat-room .no-conversation-notification-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* required to animate no-messages-notification appearance 
(makes switching between conversations less jarring) */
@keyframes fadeInTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chat-room .chatroom-title {
  cursor: pointer;
  user-select: none;
}
</style>
