<template>
  <v-app-bar
    app
    color="primary"
    dark
    class="site-header"
  >
    <v-toolbar-title
      class="headline"
    >
      <router-link
        class="home-link"
        to="/"
      >
        WebChat
      </router-link>
    </v-toolbar-title>
    
    <v-spacer />

    <unauthenticated-user-menu v-if="!authenticated" />
    <authenticated-user-menu v-else />
  </v-app-bar>
</template>

<script>
import UnauthenticatedUserMenu from "./UnauthenticatedUserMenu.vue";
import AuthenticatedUserMenu from "./AuthenticatedUserMenu.vue";

export default {
  computed: {
      authenticated() {
          return this.$store.getters.isAuthenticated;
      }
  },
  components: {
    "unauthenticated-user-menu": UnauthenticatedUserMenu,
    "authenticated-user-menu": AuthenticatedUserMenu,
  },
};
</script>

<style>
.site-header.theme--dark .home-link {
  color: white;
  text-decoration: none;
}
</style>
