<template>
  <v-menu
    bottom
    left
    :offset-y="true"
  >
    <template v-slot:activator="{ on: onMenu, attrs }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: onTooltip }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="{...onMenu, ...onTooltip}"
          >
            <v-icon>mdi-login</v-icon>
          </v-btn>
        </template>
        <span>Login / Register</span>
      </v-tooltip>
    </template>

    <v-list>
      <v-list-item to="/sign-in">
        <v-list-item-icon>
          <v-icon>mdi-login</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Log In</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item to="/sign-up">
        <v-list-item-icon>
          <v-icon>mdi-clipboard-account-outline</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Sign Up</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {

}
</script>

<style>

</style>