<template>
  <v-app>
    <site-header />

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import SiteHeader from "./components/SiteHeader.vue";

export default {
  name: 'App',
  data: () => ({
  }),
  components: {
    "site-header": SiteHeader,
  }
};
</script>

<style>
html { 
  overflow: hidden;
}
</style>
